{% extends "layout.html" %}

{% block title %}
    About
{% endblock %}

{% block main %}
    <style>
        p {
            color: white;
            text-align: center;
        }
    </style>
    <body>
        <main>
            <div>
                <p><b>Version: {{ versionData }}</b></p>
                <p><b>Time last updated: {{ difference }}</b></p>

                <br>
                <hr>
                <br>

                <p>The goal of this website is to present the statistics and impact of COVID-19 on Canada from a more detailed and finer lens. It emphasizes its statistical information on a "regional" level rather than a provincial or national level.</p>
                <br>
                <p>Thank you for visiting!</p>
                <br>
                <img src="/static/logos.png" alt="Logos" class="center" style="width: 80%">
            </div>
        </main>
    </body>

{% endblock %}

{% block footer %}
    Data provided for free by <a href="https://opencovid.ca/api/">COVID-19 Canada Open Data Working Group</a> and by <a href="https://www.who.int/emergencies/diseases/novel-coronavirus-2019/advice-for-public">World Health Organization</a>.
{% endblock %}