{% extends "layout.html" %}

{% block title %}
    {{ province }}
{% endblock %}

{% block main %}
    <h3>Region</h3>
    <br>
    <form action="/stats" method="post">
        <select class="form-select center" name="regionSelect" required>
            <option selected disabled>Expand...</option>
            {% for data in tabledata %}
                <option value="{{ data.region }}">{{ data.region }}</option>
            {% endfor %}
        </select>
        <p></p>
        <div class="btn-group center" role="group" aria-label="Basic example">
            <button class="btn btn-danger" type="submit">Submit</button>
            <button type="submit" formaction="/map" class="btn btn-danger">Return to Map</button>
        </div>
    </form>
{% endblock %}
{% block footer %}
    Data provided for free by <a href="https://opencovid.ca/api/">COVID-19 Canada Open Data Working Group</a>.
{% endblock %}