{% extends "layout.html" %}

{% block title %}
    {{ region }}

{% endblock %}

{% block main %}
<h3>{{ region }}</h3>
<style>
    p {
        color: white;
    }
</style>

<script>
    function goBack() {
        window.history.back();
    }
</script>

<table class="table table-dark table-hover" style="margin-left: auto; margin-right: auto; width: 70%">
    <th>Statistic Name</th>
    <th>Statistic Value</th>

    {% for dict_item in covidStats %}
        {% for key, value in dict_item.items() %}
        <tr>
            <td>{{key|capitalize|replace("_", " ")}}</td>
            <td>{{value}}</td>
        </tr>
        {% endfor %}
    {% endfor %}
</table>

      <button onclick="goBack()" type="submit" class="btn btn-danger center">Return to Region Selection</button>

{% endblock %}

{% block footer %}
    Data provided for free by <a href="https://opencovid.ca/api/">COVID-19 Canada Open Data Working Group</a>.
{% endblock %}